
$font-family: "Open Sans", Arial, sans-serif;

$text--light: 300;
$text--normal: 400;
$text--semibold: 600;
$text--bold: 700;

$italic: italic;

$font-size--small: 1.4rem;
$font-size--medium: 1.8rem;
$font-size--large: 2.4rem;

$line-height--small: 2.4rem;
$line-height--medium: 2.7rem;
$line-height--large: 3rem;

$base-color: #283645;
$white: #ffffff;
$black: #000000;
$pink: #d22856;
$bg-gray: #f2f2f2;
$border-gray: #e5e5e5;
$cross-gray: #333333;
$cross-orange: #f25b26;
$check-green: #3dc644;
$btn-green: #2aab6d;
$controls-gray: #bec2c7;

$border-width: 2px;

$distance: 20px;

