.contact-details {
  position: relative;
  padding-top: 45px;
  line-height: $line-height--large;

  &__promo {
    margin-top: 0;
    margin-bottom: 37px;
    font-weight: $text--light;
    font-size: $font-size--large;
  }

  &__content {
    position: relative;
    z-index: 5;
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: $text--bold;
    font-size: $font-size--medium;
  }

  &__field {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
  }

  &__item {
    display: block;
    margin-bottom: 20px;
    font-weight: $text--light;
    font-size: $font-size--large;
    color: #d22856;
  }

  &__link {
    font-weight: $text--light;
    font-size: $font-size--large;
    color: #d22856;
    text-transform: none;

    &:hover {
      color: $base-color;
      text-decoration: underline;
    }

    &:active {
      color: #ced0d2;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom:: -35px;
    left: 0;
    width: 100%;
    height: 123px;
    background-image: url("../img/map__overlay--mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 123px;
  }

  @media (min-width: 700px) {
    padding-top: 50px;

    &__promo {
      margin-bottom: 50px;
      font-size: 4rem;
      line-height: 4rem;
    }

    &__content {
      padding-left: 30px;
			padding-right: 30px;
    }

    &__field {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }

      &--phone {
        float: left;
      }

      &--email {
        float: right;
      }

      &--address {
        clear: both;
      }
    }

    &::after {
      bottom: -70px;
      background-image: url("../img/map__overlay--tablet.png");
    }
  }

  @media (min-width: 980px) {
    padding-top: 70px;

    &__promo {
      margin-bottom: 60px;
      font-size: 5rem;
      line-height: 5rem;
    }

    &__content {
      margin-bottom: 0;
    }

    &__field {
      &--address {
        clear: none;
      }
    }

    &::after {
      bottom: -123px;
      background-image: url("../img/map__overlay--desktop.png");
    }
  }
}
