.footnote {
  margin: 0;
  line-height: $line-height--large;
  text-transform: uppercase;

  &__star {
    color: $pink;
  }

  .disappear-text {
    display: none;
  }

  @media (min-width: 700px) {
    float: right;
    height:64px;
    line-height: 64px;
  }

  @media (min-width: 980px) {
    .disappear-text {
      display: inline;
    }
  }
}
