.form-content {
	padding-top: 47px;
	line-height: $line-height--large;

	&__promo {
		margin: 0;
		padding-left: $distance;
		padding-right: $distance;
		text-align: center;
	}
}

.form {

	&__fieldset {
		margin: 0;
		padding-left: $distance;
		padding-right: $distance;
		padding-bottom: 45px;
		padding-top: 40px;
		border: none;

		&--gray {
			background-color: $bg-gray;
		}

		&--travel-date {
			input {
				margin-bottom: 10px;
			}
		}
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 35px;
		font-weight: $text--normal;
		font-size: $font-size--small;
		line-height: $line-height--large;
		color: $pink;
		text-transform: uppercase;
	}

	&__field {
		position: relative;
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&--fellows-number {
			padding-bottom: 48px;
			border-bottom: 2px solid $border-gray;
		}

		&--fellows-data {
			@include clearfix();
		}

		&--col {
			float: left;
		}
	}

	&__index-number {
		display: block;
		padding: 16px;
		width: 61px;
		height: 63px;
		font-size: $font-size--medium;
		line-height: $line-height--large;
		vertical-align: top;
		background-color: $bg-gray;
		border-radius: 2px 0 0 2px;
		@include border();
		border-right: none;
	}

	&__number-symbol {
		display: block;
		margin-bottom: 5px;
	}

	&__plus,
	&__minus {
		display: inline-block;
		position: absolute;
		top: 2px;
		padding: 16px;
		width: 61px;
		height: 59px;
		vertical-align: top;
		background-color: $white;
		cursor: pointer;
	}

	&__plus {
		right: 2px;
		border-left: 2px solid $border-gray;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -13.5px;
			margin-top: -1.5px;
			width: 27px;
			height: 3px;
			background-color: $base-color;
		}

		&::after {
			transform: rotate(90deg);
		}
	}

	&__minus {
		left: 2px;
		border-right: 2px solid $border-gray;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -13.5px;
			margin-top: -1.5px;
			width: 27px;
			height: 3px;
			background-color: $base-color;
		}
	}

	&__item {
		padding-left: $distance;
		padding-right: $distance;
		padding-top: 14.5px;
		padding-bottom: 14.5px;
		width: 100%;
		font-size: $font-size--medium;
		line-height: $line-height--large;
		border-radius: 2px;
		@include border();

		&--number {
			padding-right: 80px;
			padding-left: 80px;
			text-align: center;
		}

		&--checkbox,
		&--radio,
		&--file {
			display: none;
		}

		&--with-index {
			border-radius: 0 2px 2px 0;
		}
	}

	&__label {
		display: block;

		&--person-data {
			margin-bottom: 5px;
			padding-left: 25px;
			text-align: left;
		}

		&--checkbox,
		&--radio {
			position: relative;
			padding-left: 60px;
			font-size: $font-size--medium;
			color: $base-color;
			text-align: left;
			text-transform: none;
		}

		&--radio {
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				border-radius: 50%;
				cursor: pointer;
			}

			&::before {
				left: 0;
				margin-top: -19.5px;
				width: 39px;
				height: 39px;
				background-color: $white;
				@include border();
			}

			&::after {
				left: 12px;
				margin-top: -7.5px;
				width: 15px;
				height: 15px;
			}
		}

		&--left-offset {
			margin-left: 61px;
			width: calc(100% - 61px);
		}
	}

	&__item--radio:checked + &__label--radio {
		&::after {
			background-color: $pink;
		}
	}

	&__check-field {
		display: block;
		position: absolute;
		top: -4.5px;
		left: 0;
		width: 39px;
		height: 39px;
		@include border();

		.icon--check {
			display: none;
			right: -2px;
			margin-top: -13px;

			&::after {
				width: 23px;
			}

			&::before {
				margin-top: -6px;
				margin-left: -5px;
				width: 11px;
			}
		}
	}

	&__item--checkbox:checked + &__label--checkbox .icon--check {
		display: block;
	}

	&__upload-area {
		margin-top: 13px;
		padding-top: 35px;
		text-align: left;
		border-top: 2px solid $border-gray;
	}

	&__uploaded-file {
		position: relative;
		display: inline-block;
		margin-right: 35px;
		margin-bottom: 23px;

		&:nth-of-type(3n) {
			margin-right: 0;
		}

		img {
			margin-bottom: 8px;
		}
	}

	&__uploaded-descr {
		font-size: 1.2rem;
		line-height: 1.8;
		text-transform: uppercase;
	}

	&__delete-file {
		position: absolute;
		top: -14.5px;
		right: -14.5px;
		width: 29px;
		height: 29px;
		border-radius: 50%;
		background-color: $white;
		cursor: pointer;
		@include border();

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1.5px;
			margin-left: -7.5px;
			width: 15px;
			height: 3px;
			background-color: #c2c2c2;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	
}