.form-content {
	padding-top: 47px;
	line-height: $line-height--large;

	&__promo {
		margin: 0 auto;
		width: 85.9375%;
		text-align: center;

		@media (min-width: 700px) {
			margin-bottom: 40px;
			width: 80.645161290322580645161290322581%;
			font-size: 1.8rem;
		}

		@media (min-width: 980px) {
			margin-bottom: 77px;
		}
	}

	@media (min-width: 700px) {
		padding-top: 93px;
	}
}

.form {
	
	legend {
		display: none;
		font-weight: $text--normal;
		font-size: $font-size--small;
		line-height: $line-height--large;
		color: $pink;
		text-transform: uppercase;

		@media (min-width: 700px) {
			display: block;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__fieldset {
		margin: 0;
		padding-left: $distance;
		padding-right: $distance;
		padding-bottom: 45px;
		padding-top: 40px;
		border: none;

		@media (min-width: 700px) {
			margin-bottom: 52px;
			padding-left: 55px;
			padding-right: 55px;
			border-radius: 2px;
			@include border();

			&--user-data,
			&--submit {
				border: none;
			}

			&--user-data {
				padding: 0;

				.form__field {
					margin-bottom: 0;
				}
			}
		}

		&--gray {
			background-color: $bg-gray;

			@media (min-width: 700px) {
				background-color: $white;
			}
		}

		&--user-data {
			@include clearfix();

			@media (min-width: 980px) {
				.form__field {
					float: left;
					margin-right: 20px;
					width: 300px;

					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
		}

		&--travel-date {
			.form__item {
				margin-bottom: 10px;
			}

			@media (min-width: 700px) {
				@include clearfix();

				.form__field {
					float: left;
					margin-right: 3.968253968253968253968253968254%;
					width: 47.619047619047619047619047619048%;

					&:nth-of-type(3n) {
						margin-right: 0;
					}
				}
			}

			@media (min-width: 980px) {
				.form__field {
					margin-right: 44px;
					width: 240px;

					&:nth-of-type(3n) {
						margin-right: 0;
					}
				}
			}
		}

		&--radio {
				@include clearfix();

				.form__field {
					float: left;
					margin-right: 110px;
					width: 200px;

					&:nth-of-type(3n) {
						margin-right: 0;
					}
				}
			}

		&--submit {

			.btn {
				margin-bottom: 36px;
			}

			@media (min-width: 700px) {
				padding: 0;
				@include clearfix();

				.btn {
					float: left;
					width: 300px;
				}
			}
		}
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 35px;
		font-weight: $text--normal;
		font-size: $font-size--small;
		line-height: $line-height--large;
		color: $pink;
		text-transform: uppercase;

		@media (min-width: 700px) {
			display: none;
		}
	}

	&__field {
		position: relative;
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&--fellows-number {
			padding-bottom: 48px;
			border-bottom: 2px solid $border-gray;

			@media (min-width: 700px) {
				text-align: left;

				.form__item--number {
					width: 50%;
					border: none;
				}

				.form__plus,
				.form__minus {
					top: 0;
					@include border();
				}

				.form__plus {
					right: 50%;
				}

				.form__minus {
					left: 0;
				}
			}
		}

		&--fellows-data {
			width: 100%;
			@include clearfix();
		}

		&--index-number-col,
		&--col,
		&--delete-item {
			float: left;
		}

		&--index-number-col {
			@media (min-width: 700px) {
				margin-right: $distance;
			}
		}

		&--col {
			width: calc(100% - 61px);
			text-align: left;

			@media (min-width: 700px) {
				width: calc(100% - 200px);

				.form__item {
					width: 100%;
					border-radius: 2px;
				}
			}

			@media (min-width: 980px) {
				@include clearfix();

				.form__field {
					float: left;
					margin-right: $distance;
					width: 300px;

					&:nth-of-type(2n) {
						margin-right: 0;
					}
				}
			}
		}

		&--delete-item {
			display: none;
			width: 117px;
			text-align: right;

			a {
				font-weight: $text--normal;
				font-size: $font-size--small;
				color: $base-color;
				text-transform: uppercase;
			}

			@media (min-width: 700px) {
				display: block;
				margin-top: 52px;
			}
		}

		&--checkbox {
			@media (min-width: 980px) {
				display: inline-block;
				width: 260px;
				margin-right: 16px;
				vertical-align: top;

				&:nth-of-type(3n) {
					margin-right: 0;
				}
			}
		}
	}

	&__index-number {
		display: block;
		padding: 16px;
		width: 61px;
		height: 63px;
		font-size: $font-size--medium;
		line-height: $line-height--large;
		vertical-align: top;
		background-color: $bg-gray;
		border-radius: 2px 0 0 2px;
		@include border();
		border-right: none;

		@media (min-width: 700px) {
			border-radius: 2px;
			@include border();
		}
	}

	&__number-symbol {
		display: block;
		margin-bottom: 5px;
	}

	&__plus,
	&__minus {
		display: inline-block;
		position: absolute;
		top: 2px;
		padding: 16px;
		width: 61px;
		height: 59px;
		vertical-align: top;
		background-color: $white;
		cursor: pointer;
	}

	&__plus {
		right: 2px;
		border-left: 2px solid $border-gray;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -13.5px;
			margin-top: -1.5px;
			width: 27px;
			height: 3px;
			background-color: $base-color;
		}

		&::after {
			transform: rotate(90deg);
		}
	}

	&__minus {
		left: 2px;
		border-right: 2px solid $border-gray;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -13.5px;
			margin-top: -1.5px;
			width: 27px;
			height: 3px;
			background-color: $base-color;
		}
	}

	&__item {
		padding-left: $distance;
		padding-right: $distance;
		padding-top: 14.5px;
		padding-bottom: 14.5px;
		width: 100%;
		font-size: $font-size--medium;
		line-height: $line-height--large;
		border-radius: 2px;
		@include border();

		&--number {
			padding-right: 80px;
			padding-left: 80px;
			text-align: center;
		}

		&--checkbox,
		&--radio,
		&--file {
			display: none;
		}

		&--with-index {
			border-radius: 0 2px 2px 0;
		}
	}

	&__label {
		display: block;

		&--person-data {
			margin-bottom: 5px;
			padding-left: 25px;
			text-align: left;
		}

		&--checkbox,
		&--radio {
			position: relative;
			padding-left: 60px;
			font-size: $font-size--medium;
			color: $base-color;
			text-align: left;
			text-transform: none;
		}

		&--radio {
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				border-radius: 50%;
				cursor: pointer;
			}

			&::before {
				left: 0;
				margin-top: -19.5px;
				width: 39px;
				height: 39px;
				background-color: $white;
				@include border();
			}

			&::after {
				left: 12px;
				margin-top: -7.5px;
				width: 15px;
				height: 15px;
			}
		}

		&--left-offset {
			margin-left: 61px;
			width: calc(100% - 61px);
		}
	}

	&__item--radio:checked + &__label--radio {
		&::after {
			background-color: $pink;
		}
	}

	&__check-field {
		display: block;
		position: absolute;
		top: -4.5px;
		left: 0;
		width: 39px;
		height: 39px;
		@include border();

		.icon--check {
			display: none;
			right: -2px;
			margin-top: -13px;

			&::after {
				width: 23px;
			}

			&::before {
				margin-top: -6px;
				margin-left: -5px;
				width: 11px;
			}
		}
	}

	&__item--checkbox:checked + &__label--checkbox .icon--check {
		display: block;
	}

	&__upload-area {
		margin-top: 13px;
		padding-top: 12px;
		font-size: 0;
		text-align: left;
		border-top: 2px solid $border-gray;
	}

	&__uploaded-file {
		position: relative;
		display: inline-block;
		margin-right: 39px;
		margin-top: 23px;
		width: 67px;
		height: 67px;


		&:nth-of-type(3n) {
			margin-right: 0;
		}

		img {
			margin-bottom: 8px;
		}

		@media (min-width: 442px) {
			&:nth-of-type(3n) {
				margin-right: 39px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}

		@media (min-width: 548px) {
			&:nth-of-type(4n) {
				margin-right: 39px;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}

		@media (min-width: 654px) {
			&:nth-of-type(5n) {
				margin-right: 39px;
			}

			&:nth-of-type(6n) {
				margin-right: 0;
			}
		}

		@media (min-width: 700px) {
			width: 120px;
			height: 120px;
		}

		@media (min-width: 707px) {
			width: 120px;
			height: 120px;

			&:nth-of-type(n) {
				margin-right: 68px;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}

		@media (min-width: 724px) {


			&:nth-of-type(n) {
				margin-right: 69px;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}

		@media (min-width: 886px) {

			&:nth-of-type(3n) {
				margin-right: 69px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}

		@media (min-width: 980px) {
			&:nth-of-type(n) {
				margin-right: 54px;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}

	&__uploaded-descr {
		font-size: 1.2rem;
		line-height: 1.8;
		text-transform: uppercase;
	}

	&__delete-file {
		position: absolute;
		top: -14.5px;
		right: -14.5px;
		width: 29px;
		height: 29px;
		border-radius: 50%;
		background-color: $white;
		cursor: pointer;
		@include border();

		@media (min-width: 700px) {
			top: -25.5px;
			right: -25.5px;
			width: 51px;
			height: 51px;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1.5px;
			margin-left: -7.5px;
			width: 15px;
			height: 3px;
			background-color: #c2c2c2;

			@media (min-width: 700px) {
			margin-top: -2px;
			margin-left: -14px;
			width: 28px;
			height: 4px;
		}
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	
}