.icon {
  display: block;
  position: absolute;

  &--check {
    width: 29px;
    height: 22px;
    transform: rotate(-45deg);

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      height: 4px;
      background-color: $pink;
    }

    &::after {
      margin-top: -2px;
      width: 30px;
    }

    &::before {
      margin-top: -8px;
      margin-left: -6px;
      width: 16px;
      transform: rotate(-90deg);
    }
  }

  &--cross {
    width: 26px;
    height: 26px;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      top: 50%;
      margin-top: -2px;
      width: 37px;
      height: 4px;
      background-color: $cross-orange;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}
