.logo {
  a {
    display: block;
    height: 100%;
  }

  &--header {
    position: absolute;
    top: 5px;
    left: -52px;

    &:hover {
      .logo-text__path,
      .spectacles__path,
      .spectacles-broken__path {
        fill: $pink;
      }
    }

    &:active {
      .logo-text__path,
      .spectacles__path,
      .spectacles-broken__path {
        fill: rgba(255,255,255,0.3);
      }
    }

    .pink-point,
    .spectacles,
    .spectacles-broken {
      opacity: 0;
    }

    @media (min-width: 700px) {
      position: static;
      float: left;

      .spectacles {
        opacity: 1;
      }
    }

    @media (min-width: 980px) {

      .spectacles {
        opacity: 0;
      }
      
      .pink-point,
      .spectacles-broken {
        opacity: 1;
      }
    }
  }

  &--footer {
    margin: 0 auto;
    margin-bottom: 40px;

     &:hover {
      .logo-text__path {
        fill: $pink;
      }
    }

    &:active {
      .logo-text__path {
        fill: rgba(40, 54, 69, 0.3);
      }

      .spectacles__path,
      .spectacles-broken__path {
        fill: rgba(210, 40, 86, 0.3);
      }
    }

    .spectacles-broken,
    .point {
      opacity: 0;
    }

    @media (min-width: 700px) {
      float: left;
      margin: 0;
      margin-right: 12.096774193548387096774193548387%;
    }

    @media (min-width: 980px) {
      margin-right: 25.10638297872340425531914893617%;
      
      .spectacles {
        opacity: 0;
      }

      .spectacles-broken,
      .point {
        opacity: 1;
      }
    }
  }
}
