.main-price {
	position: relative;
	margin-top: 22px;
	padding-top: 67px;
	padding-bottom: 2px;
	background-color: $bg-gray;

	input {
		display: none;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: -33px;
		width: 100%;
		height: 33px;
		background-image: url("../img/bg--oblique.png");
		background-repeat: no-repeat;
		background-size: 100% 33px;
	}

	
	@media (min-width: 700px) {
		.controls-points {
			display: none;
		}
	}
}