.main-footer {
  padding-top: 32px;
  padding-bottom: 16px;

  &--index {
    display: none;
  }

  &__copyright {
    margin-bottom: 30px;

    a {
      display: inline-block;
      margin-left: 11px;
      vertical-align: middle;
    }
  }

  @media (min-width: 700px) {
    padding-top: 35px;
    padding-bottom: 35px;

    &--index {
      display: block;
    }

    &__copyright {
      float: right;
      margin-bottom: 0;
      margin-top: 10px;
    }

  }

  @media (min-width: 980px) {
    padding-top: 73px;
    padding-bottom: 73px;

    &__copyright {
      font-size: $font-size--medium;
    }
  }
}
