.main-header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  @include clearfix;

  @media (min-width: 700px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 26px;
    padding-bottom: 42px;
  }
}
