.main-header {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: $distance;
	padding-bottom: 22px;
	padding-left: $distance;
	padding-right: $distance;
	width: 100%;
	background-color: rgba(29, 38, 49, 0.4);
	@include clearfix;

	@media (min-width: 700px) {
		padding-left: 0;
		padding-right: 0;
		padding-top: 26px;
		padding-bottom: 42px;
	}
}