.popup {
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	padding-top: 42px;

	
	line-height: $line-height - 3px;
	text-align: center;
	background-color: $white;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

	&--success {
		top: 1640px;

		.btn--bg-green {
			margin-top: 50px;
		}
	}

	&--failure {
		top: 1165px;
		padding-right: $distance;
		padding-left: $distance;
		padding-bottom: 50px;
	}

	&__title {
		margin: 0;
		margin-bottom: 30px;
		font-weight: $text--bold;
		font-size: $font-size--link;
	}

	&__message {
		margin-bottom: 30px;
	}

	&__content-wrapper {
		padding-right: $distance;
		padding-left: $distance;
	}

	&__button-wrapper {
		padding-right: $distance;
		padding-left: $distance;
		padding-bottom: 50px;
		background-color: $bg-gray;
	}
}