.social {
	margin-bottom: 41px;

	&__item {
		display: inline-block;
		position: relative;
		margin-right: 8px;
		width: 45px;
		height: 45px;
		vertical-align: top;
		border-radius: 50%;
		@include border($color: #e9ebec);
		text-indent: -9999px;
	}


}