.table {
	margin-bottom: 40px;
	width: 300%;
	line-height: $line-height--large;
	text-transform: uppercase;
	border-collapse: collapse;

	&__head-cell {
		padding-top: 19px;
		padding-bottom: $distance;
		width: 33.3%; 
		font-weight: $text--bold;
		font-size: $font-size--medium;
		text-align: center;
		@include border($width: $border-width, $color: $border-gray);
		border-top: none;
		border-bottom: none;

		&--hit {
			position: relative;
			overflow: hidden;

			&::before {
				content: "Хит";
				display: block;
				position: absolute;
				top: 5px;
				left: -30px;
				width: 105px;
				height: 30px;
				font-weight: $text--semibold;
				font-size: $font-size--small;
				line-height: $line-height--large;
				color: $white;
				text-align: center;
				text-transform: uppercase;
				background-color: $pink;
				transform: rotate(-45deg);
			}
		}

		&--dark {
			color: $white;
			background-color: $base-color;
		}
	}

	&__price {
		font-weight: $text--light;
		font-size: $font-size--large;
	}

	&__cell--additional,
	&__head-cell--additional {
		display: none;
	}

	&__cell {
		position: relative;
		padding-left: 22px;
		padding-right: 18px;
		padding-top: 14px;
		padding-bottom: 15px;
		text-align: left;
		@include border($width: $border-width, $color: $border-gray);
		border-top: none;
		background-color: #ffffff;
	}

	.icon {
		right: 18px;
		top: 50%;

		&--check {
			margin-top: -11px;

			&:before,
			&:after {
				background-color: $check-green;
			}
		}

		&--cross {
			margin-top: -13px;
		}
	}

	@media (min-width: 700px) {
		width: 100%;
		transform: none !important;

		&__head-cell {
			width: 25%;
		}

		&__cell {
			padding-left: 15px;
			padding-right: 15px;
			text-transform: none;
			text-indent: -9999px;
		}

		&__cell--additional,
		&__head-cell--additional {
			display: table-cell;
		}

		&__head-cell--additional {
			border: none;
		}

		&__cell--additional {
			margin-bottom: -2px;
			text-indent: inherit;
			border-top: 2px solid $border-gray;
		}

		.icon {
			right: 50%;

			&--check {
				margin-right: -14.5px;
			}

			&--cross {
				margin-right: -13px;
			}
		}
	}
}
